.btn {
  border-radius: 4px;
  padding: 16px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn--color--ginger {
  background: #dfb56d;
}

.btn--color--ginger:hover {
  background: #d3a556;
  box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}

.btn--color--black {
  background: #202123;
}

.btn--color--black:hover {
  background: #dfb56d;
}

.btn--color--grey {
  background: #8d8d8d;
}

.btn--color--grey:hover {
  background: #202123;
}

.btn-welcome {
  padding: 16px 56px;
}