.contacts {
  font-style: normal;
  text-align: right;
  line-height: 1.32;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__workhours {
  font-size: 13px;
  text-decoration: underline;
  color: #dfb56d;
  letter-spacing: 0.5px;
}

.contacts__desc {
  color: #999;
  font-size: 11px;
  letter-spacing: 0.2px;
}