.hero {
  margin-bottom: 170px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 578px;
}

.hero__content {
  max-width: 38%;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero__motto {
  font-size: 18px;
  color: #dfb56d;
  margin-bottom: 45px;
  letter-spacing: -0.3px;
}