.inner-section {
  background: #fff;
  color: #202123;
  padding: 11px 0 123px 0;
}

.inner-section--bg--grey {
  background: #f4f5f5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 58px;
  padding-top: 73px;
}

.inner-section-reviews {
  padding-top: 30px;
  padding-bottom: 115px;
}

.inner-section-review__title {
  margin-bottom: 47px;
}