
.service {
  display: flex;
  padding: 60px 28px;
  text-decoration: none;
}

.service:hover {
  background: #f4f5f5;
}

.service:hover .service__btn {
  background: #dfb56d;
}

.service__img {
  width: 42%;
  margin-right: 6%;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #202123;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 30px;
}